{% extends "layout.html" %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <div class="dashboard-content">
        {%for i in range(0, len)%} 
            <div class="card">
                <div class="container">
                    <h4 style="font-weight: 200;">{{gpios[i]['Name']}}</h4> 
                    <h5 style="font-weight: 200; padding-right: 2rem; margin-top: -1rem;">
                        <div class="flex-status">
                            <h5 id="{{gpios[i]['No']}}_Status">Status: {{gpios[i]['Status']}}<h5> 
                            
                            {% if gpios[i]['Type'] == 'output' %}
                                <input type="hidden" id="gpioNo" value="{{ gpios[i]['No'] }}">
                                <label class="switch">
                                    <input id="toggle" name="{{gpios[i]['No']}}_check" type="checkbox" {% if gpios[i]['Status'] == 'Online' %} checked {% endif %}>
                                    <span class="slider round"></span>
                                </label>
                            {% else %}
                                {% if gpios[i]['Status'] == 'Online' %}
                                    <div id="{{gpios[i]['No']}}_inputStatus" class="status-circle-online"></div>
                                {% endif %}
                    
                                {% if gpios[i]['Status'] == 'Offline' %}
                                    <div id="{{gpios[i]['No']}}_inputStatus" class="status-circle-offline"></div>
                                {% endif %}
                    
                                {% if gpios[i]['Status'] == 'Undefined' %}
                                    <div id="{{gpios[i]['No']}}_inputStatus" class="status-circle-undefined"></div>
                                {% endif %}
                            {% endif %}
                        </div>
                        
                        <div>
                            <a href="/download/{{ gpios[i]['No'] }}">Download Log</a>
                        </div>

                    </h5>
                </div>
            </div>
        {%endfor%} 
    </div>

{% endblock %}

